.container.pt-5 {
  padding-top: 3rem;
}

.btn.btn-primary.mt-4 {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #20483F;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-bottom: 40px;
}

.btn.btn-primary.mt-4:hover {
  background-color: #1b3e34;
}

.confirmation-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.confirmation-card h3 {
  font-size: 1.5rem;
  color: #20483F;
  margin-bottom: 15px;
}

.confirmation-card ul {
  list-style-type: none;
  padding-left: 0;
}

.confirmation-card li {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.page-container {
  padding-bottom: 60px;
}
