
.coffee-products {
    width: 100%;
  }
  
  .coffee-container {
    width: 35%;
    height: 10%;
  }
  
  .coffee-details {
    width: 150%;
  }
  
  
  .btn.btn-md-imp.btn-secondary.reserve-now-btn.color-light.d-flex.me-3.rounded-5.tour-list-btn.tour-list-btn-popup {
    width: 80%!important;
    padding: 7px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    font-weight: 400;
 
  }
  
  .coffee-product {
    width: 48%;
  }
  
  .margin {
    margin-right: 8%;
  }
  
  
  .coffee-container {
    margin: 0;
    padding: 6% !important;
  }