/*
*	ESTE ARCHIVO FUE CREADO PARA INCORPORAR ESTILOS PERSONALIZADOS 
*	SE DEBEN INCORPORAR SOLAMENTE FUNCIONES MIXINS
*/

// Estiliza el texto con tamaño, altura y peso
@mixin textStyle($font-size, $line-height, $font-weight: normal){
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

//Mixing para limitar texto a 3 lineas
@mixin text-limit($lines: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// Genera clases de colores
@mixin color-class($name, $color) {
  // Clases para color
  .color-#{$name} {
    color: $color;
  }

  .color-#{$name}-imp {
    color: $color !important;
  }

  .color-on-#{$name} {
    color: $color;
  }

  .color-on-#{$name}-imp {
    color: $color !important;
  }

  // Clases para background-color
  .bg-color-#{$name} {
    background-color: $color;
  }

  .bg-color-#{$name}-imp {
    background-color: $color !important;
  }
}
