.plus-minus-container img {
    width: 65%;
}

.plus-minus-container span {
    font-size: 1.5rem!important;
}

.btn.add-btn {
    width: 100%!important;
    margin-right: 0rem!important;
}

.btn-container {
    margin: 5%;
}

/*.coffee-container {
    margin: 3% 0;
}  padding */ 

.bg-color {
    background-color: #f8f6f3;
    width: 100vw;
}

.no-padding-bottom {
    padding-bottom: 0%!important;
}

.margin-bottom {
    margin-bottom: 8%;
}

.margin-top {
    margin-top: 5%!important;
}

.container.coffee-container.d-flex.justify-content-center.align-items-center.p-3.w-80 {
 height: fit-content;   
}

.btn.btn-md-imp.btn-secondary.reserve-now-btn.color-light.me-3.rounded-5.tour-list-btn.tour-list-btn-popup.add-btn.d-flex.justify-content-evenly {
    margin: 0;
}