.gap {
    gap: 10%;
    border-top: 1.5px solid #d9d9d9!important;
    margin-top: 5%;
    padding-top: 2%;
  }

  .product-span{
    font-size: 12px;
  }

  .edit-btn {
   color: black!important;
  }

  .price-element {
    margin-top: 5%;
  }

  .cart-btns {
    width: 45%;
    border-radius: 50px!important;
    font-size: small!important;
  }
  
  .main-container {
    width: 35%;
    margin-left: 14%;
  }

