/*
*	ESTE ARCHIVO FUE CREADO PARA INCORPORAR ESTILOS PERSONALIZADOS 
*	SE DEBEN INCORPORAR REGLAS DE ESTILO SOBRE LOS BOTONES
*/

.btn-base {
  //Aqui van los estilos de un boton base
  padding: 10px 20px;
}

.btn-sm {
  padding: 5px 10px;
}

.btn-sm-1-imp {
  padding: 10px 25px !important;
}

.btn-md-imp {
  padding: 10px 50px !important;
}

