/*
*	ESTE ARCHIVO FUE CREADO PARA INCORPORAR ESTILOS PERSONALIZADOS 
*	SE DEBEN INCORPORAR REGLAS DE ESTILO GENERALES DEL APP
*/
.nav-link {
    color: $primary !important;
    &:hover{
        color: $on-primary !important;
    }
}

.navbar-brand {
    &__logo {
        width: 176px;
    }

    @media (min-width: 360px){
        &__logo {
            //Ahora toma el tamano por defecto
            width: auto;
        }
    }
}

