/*
*	ESTE ARCHIVO FUE CREADO PARA INCORPORAR ESTILOS PERSONALIZADOS 
*	SE DEBEN INCORPORAR REGLAS DE ESTILO BASICAS SOBRE LOS TEXTOS
*/

.titulo-1 {
  font-size: 1.333rem; // 20px
  line-height: 1.667rem;
}

.titulo-2 {
  font-size: 1rem; // 15px
  line-height: 1.333rem;
}

.titulo-3 {
  font-size: 2.133rem; // 35px
  line-height: 2.867rem;
}

.titulo-4 {
  font-size: 1.067rem; // 16px
  line-height: 2.133rem;
}

.titulo-5 {
  font-size: 1.523rem; // 22.84px
  line-height: 3.046rem;
}

.subtitulo {
  font-size: 0.933rem; // 14px
  line-height: 1.133rem;
}

h2.subtitulo {
  margin-block-start: 0.83em;
}

.texto-sm {
  font-size: 0.667rem; // 10px
  line-height: 1.333rem;
}

.texto-sm-1 {
  font-size: 0.938rem; // 15px
  line-height: 1.313rem; //21px
}

.texto-med {
  font-size: 1.067rem; // 16px
  line-height: 1.291rem;
}
