/*
*	ESTE ARCHIVO FUE CREADO PARA INCORPORAR ESTILOS PERSONALIZADOS 
*	SE DEBEN INCORPORAR DEFINICIONES DE VARIABLES
*/
// Variables de colores
$primary: #20483F;
$on-primary: #000;

$secondary: #A03243;
$on-secondary: #fff;

$info: #EBE1D8;
$on-info: #000;

$medium: #F8F6F3;
$on-medium: #000;

$light: #fff;
$on-light: #000;

$gris-strokes: #E0E0E0;
$gris-strokes-2: #E0E0E0;

$primary-coffee:#e9edec;
$secondary-coffee:#e8eaed;

:root {
  --primary: #20483F;
  --on-primary: #000;
  --primary-rgba-50: rgba($primary, 0.5); // Color con 50% de transparencia


  --secondary: #A03243;
  --on-secondary: #fff;

  --info: #EBE1D8;
  --on-info: #000;

  --medium: #F8F6F3;
  --on-medium: #000;

  --light: #fff;
  --on-light: #000;

  --gris-strokes: #E0E0E0;
  --gris-strokes-2: #E0E0E0;

  --primary-coffee: #e9edec;
  --secondary-coffee: #e8eaed;
}


// Radius
$thin-border-radius: 4px;
$base-border-radius: 8px;
$box-border-radius: 16px;

// Height
$item-min-height: 48px;

// Para medias querys
$tablet-width: 550px;

// Tamaños de bootstrap
//xs < 576px, el resto son ≥
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;